* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    /*font-family: "Oswald", sans-serif;*/
}

body{
    background: rgb(238, 244, 248);
    width: 100vw;
    height: 100vh;
}

/*-----------------header------------------*/

header{
    background: rgb(192, 223, 236);
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    font-size: .9rem;

}

#contenedorLogo{
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 40px;
}

#contenedorNav{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    
}

nav{
    width: 60%;
    height: 100%;
    margin-right: 30px;
    
    display: flex;
    justify-content: end;
}

.botonesNav{
    padding: 0 12px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesNav:hover{
    background-color: rgba(0, 0, 0, 0.089);
    cursor: pointer;
}

.botonesNav:active{
    background-color: rgba(0, 0, 0, 0.247);
}

#botonesRegistro{
    width: 500px;
    height: 100%;

    display: flex;
    align-items: center;
}

.registro{
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

#botonInicioSesion{
    background-color: #005086;
    color: #f3f3f3;
}

#botonInicioSesion:hover{
    background-color: #0b71b6;
}

#botonInicioSesion:active{
    background-color: #003e68;
}

#botonRegistrarse{
    border: 1px solid #005086;
}

#botonRegistrarse:hover{
    background: #dbdbdb;
}

#botonRegistrarse:active{
    background: #f7f7f7;
}

/* ------------ contenido de la pagina ---------------- */
#contenidoPagina{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*slogan*/
#slogan{
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url(../recursos/img/inicio/prueba2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
}

#slogan span{
    font-family: "Oswald", sans-serif;
    font-weight: 400;

    color: #3095ae;
}

#slogan p{
    font-size: 1.4rem;
}

/*------------frases---------------*/
#frases{
    width: 100%;
}

.espacioFraseImagen{
    width: 100%;
    background-color: #005086;
    /*border-bottom: 2px solid #f3f3f3;*/

    display: flex;
}

.segundoEspacio{
    background-color: #005086;
}

.imagenFrase{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textoFrase{
    width: 50%;
    padding: 10%;
    color: #f3f3f3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.textoFrase h2{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.textoFrase p{
    font-size: 1.3rem;
}

.imagenDeFrases{
    width: 100%;
}

#contenedorPequenio{
    width: 60%;
}

/*----------------seccion nosotros-----------*/
#trabajarConNosotros{
    width: 100%;
    margin-top: 10vh;
}

#parteArribaNosotros{
    width: 100%;
    margin-bottom: 3vh;

    display: flex;
    justify-content: space-between;
}

#parteIzquierdaNosotros{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    width: 50%;
}

#parteIzquierdaNosotros h2{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 24px;
}

#parteIzquierdaNosotros p{
    font-size: 1.2rem;
}

#parteDerechaNosotros{
    width: 44%;
}

.imagenNosotrosArriba{ /*DARLE UNA ALTURA A LA IMAGEN DE 266px*/
    width: 100%;
    /*height: 30vh;*/
}

/* -------------- tarjetas -----------*/

#tarjetasNosotros {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px; 
}

.tarjeta{
    /*background-color: rgb(227, 227, 227);*/
    border: 1px solid #3095ae;
    background-color: #f7f7f7;
    width: 367px;
    border-radius: 15px;
    
}

.tarjetaMargen{
    padding: 24px;
}

.imagenTarjetas{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
    /*width: 330px;*/
}

.tituloTarjeta{
    height: 68px;
}

.descripcionTarjeta{
    margin-bottom: 18px;
}

.tituloTarjeta h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5px 0;
}

.descripcionTarjeta p{
    font-size: 1.2rem;
}

/*----------------infografia----------------*/

#infografia{
    margin-top: 10vh;
}

/*------------------planes -------------------*/

#tarjetasPlanes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px; 
}

#paquetes{
    width: 100%;
    margin-bottom: 10vh;
}

#mensajePaquetes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#textoPaquetes{
    padding: 10% 24%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#textoPaquetes h2{
    font-family: "Oswald", sans-serif;
    font-size: 2.6rem;
    font-weight: 400;
    width: 70%;
    margin: 20px;
}

#textoPaquetes p{
    font-size: 1.2rem;
}

/*----------planes---------*/
.tarjetaPlan{
    width: 362px;
    /*background-color: rgb(227, 227, 227);*/
    border-radius: 15px;
    border: 1px solid #3095ae;
    background-color: #f7f7f7;
}

.tarjetaPlan:hover{
    background-color: #eaedf0;
}

.margenPlan{
    padding: 18px;
}

.iconoPlanTitulo{
    width: 26px;
    height: 26px;
}

.nombrePlan{
    width: 100%;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.nombrePlan h4{
    font-weight: 600;
    font-size: 1.4rem;
}

.iconoPlanTitulo{
    margin-right: 14px;
}

.mensajePlan{
    height: 65px;
    margin-bottom: 32px;
}

.precioPlan{
    display: flex;
    align-items: end;
}

.numeroPrecio{
    font-family: "Oswald", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0 5px;
    padding: 0;
}

.descuentoPlan{
    margin: 8px 0;
}

.descuentoPlan p{
    font-size: 1.2rem;
    font-weight: 700;
    color: #0789d4;
}

.botonPlan{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 24px 0;
    background-color: #005086;
    color: #f3f3f3;
    
}

.botonPlan:hover{
    background-color: #0789d4;
}

.botonPlan:active{
    background-color: #003e68;
}

.miniTituloPlanes{
    margin: 12px 0;
}

.miniTituloPlanes h4{
    font-weight: 600;
    font-size: 1.2rem;
}

.servicio{
    display: flex;
    margin: 24px 0;
}

.gestion{
    display: flex;
    margin: 24px 0;
}

.check{
    width: 20px;
    height: 20px;
    margin-right: 12px;
}



/* ------------ Footer ---------------- */

footer {
    background: rgb(195, 195, 196);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1em;
}

#contenedorLogoFooter {

    height: 100%;
    margin-right: 30px;

}

#logoFooter {

    height: 160px;
}

#contenedorNavFooter {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
}

#contenedorContactosFooter {
    text-align: right;
}

#contenedorContactosFooter p {
    padding: 5px;
}

#contenedorContactosFooter img {
    height: 30px;
}


#contenedorPoliticas {
    width: 100%;
    text-align: right;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    border-top: solid gray 2px;

}

#contenedorPoliticas p {
    margin-right: 30px;
}

hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray
}