* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    /*font-family: "Oswald", sans-serif;*/
}

body {
    background: rgb(224, 224, 224);
    width: 100vw;
    height: 100vh;
}

/*-----------------header------------------*/

header {
    background: rgb(195, 195, 196);
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    font-size: .9em;

}

#contenedorLogo {
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 40px;
}

#contenedorNav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;

}

nav {
    width: 60%;
    height: 100%;
    margin-right: 30px;

    display: flex;
    justify-content: end;
}

.botonesNav {
    padding: 0 12px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesNav:hover {
    background-color: rgba(0, 0, 0, 0.089);
    cursor: pointer;
}

.botonesNav:active {
    background-color: rgba(0, 0, 0, 0.247);
}

#botonesRegistro {
    width: 500px;
    height: 100%;

    display: flex;
    align-items: center;
}

.registro {
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

#botonInicioSesion {
    background-color: #005086;
    color: #f3f3f3;
}

/* ------------ contenido de la pagina ---------------- */
#contenidoPagina {
    width: 100%;
}

/*slogan*/
#slogan {
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3.5em;
    font-weight: 400;
}

#slogan span {
    font-family: "Oswald", sans-serif;
    font-weight: 400;

    color: #00862a;
}

#slogan p {
    font-size: 1.4em;
}



/* ------------ Footer ---------------- */

footer {
    background: rgb(195, 195, 196);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1em;
}

#contenedorLogoFooter {

    height: 100%;
    margin-right: 30px;

}

#logoFooter {

    height: 160px;
}

#contenedorNavFooter {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
}

#contenedorContactosFooter {
    text-align: right;
}

#contenedorContactosFooter p {
    padding: 5px;
}

#contenedorContactosFooter img {
    height: 30px;
}


#contenedorPoliticas {
    width: 100%;
    text-align: right;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    border-top: solid gray 2px;

}

#contenedorPoliticas p {
    margin-right: 30px;
}

hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray
}